@import '../../assets/colors.module.css';

form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	width: 100%;
	width: 100%;
	max-width: 680px;

	input:not([type='checkbox']), textarea {
		border: 1px solid #353535;
		border-radius: 8px;
		padding: 0.75rem;
		background-color: transparent;
		font-family: "DM Sans", sans-serif;
		line-height: 1.5;
	}

	input:not([type='checkbox']):focus,
	textarea:focus,
	input:not([type='checkbox']):focus-visible,
	textarea:focus-visible {
		border-color: var(--white-color);
		outline: 1px solid var(--white-color);
	}

	label {
		font-size: 14px;
		font-weight: 800;
	}
}

.errorMessage {
	border-radius: 999px;
	background-color: var(--orange-color);
	color: var(--gray-color);
	padding: .75rem 1.25rem;
	font-size: 14px;
	font-weight: 800;
}

.inputGroup {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 100%;
}

